### 1) Importing Dependencies

In [49]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine
import psycopg2
from config import db_password2
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

### 2) Connecting to the Google Cloud Services Database

In [50]:
# Importing dataframe from SQL (test)
db_string = f"postgres://postgres:{db_password2}@34.94.69.49/NBA_Database"
conn = create_engine(db_string)

### 3) Team Abbreviations Datafile
###### NOTE: The Team Abbreviation csv file was manually exported to postgreSQL

In [51]:
# Importing dataframe from SQL to verify the data can be taken in.
team_abrv = pd.read_sql("team_abbreviations", con = conn)

In [52]:
# Inspecting columns
team_abrv.columns

Index(['team', 'franchise'], dtype='object')

In [53]:
# Reading the dataframe
team_abrv.head(10)

  team              franchise
0  ATL          Atlanta Hawks
1  BRK          Brooklyn Nets
2  BOS         Boston Celtics
3  CHA      Charlotte Hornets
4  CHI          Chicago Bulls
5  CLE    Cleveland Cavaliers
6  DAL       Dallas Mavericks
7  DEN         Denver Nuggets
8  DET        Detroit Pistons
9  GSW  Golden State Warriors

### 4) Individual Player Stats Datafile

In [57]:
# Read in dataframe
ind_plr_stats = pd.read_csv("./Resources/individual_player_stats.csv", encoding='ISO-8859-1')

In [58]:
# Inspecting columns
ind_plr_stats.columns

Index(['player', 'pos', 'age', 'team', 'game', 'gamestarted', 'minutesplayed',
       'fieldgoalmade', 'fieldgoalattempt', 'fieldgoalpercentage',
       'threepointmade', 'threepa', 'threepointattempt', 'twopointmade',
       'twopointattempt', 'twopointpercentage', 'efficencyfgpercentage',
       'freethrowsmade', 'freethrowattempt', 'freethrowpercentage',
       'offensiverebound', 'deffensiverebound', 'totalrebound', 'assist',
       'steal', 'block', 'turnover', 'personalfoul', 'points'],
      dtype='object')

In [59]:
# Exporting dataframe to SQL 
ind_plr_stats.to_sql("individual_player_stats", con = conn, index=False, if_exists="append")

In [60]:
# Importing dataframe from SQL to verify the data can be taken in.
ind_plr_stats = pd.read_sql("individual_player_stats", con = conn)

In [61]:
# Reading the dataframe
ind_plr_stats.head(10)

,player,pos,age,team,game,gamestarted,minutesplayed,fieldgoalmade,fieldgoalattempt,fieldgoalpercentage,...,freethrowpercentage,offensiverebound,deffensiverebound,totalrebound,assist,steal,block,turnover,personalfoul,points
0,Steven Adams,C,27,NOP,27,27,760,94,156,1,...,0,116,123,239,58,26,15,46,51,217
1,Bam Adebayo,C,23,MIA,27,27,908,198,347,1,...,1,53,199,252,149,25,27,82,69,534
2,LaMarcus Aldridge,C,35,SAS,18,18,480,107,225,0,...,1,15,63,78,35,7,16,16,27,254
3,Nickeil Alexander-Walker,SG,22,NOP,23,3,441,77,188,0,...,1,5,56,61,46,25,8,30,40,203
4,Grayson Allen,SG,25,MEM,19,8,454,60,140,0,...,1,7,48,55,39,19,3,20,24,197
5,Jarrett Allen,C,22,TOT,28,10,734,122,190,1,...,1,82,170,252,45,13,46,43,44,345
6,Jarrett Allen,C,22,CLE,16,5,414,78,125,1,...,1,44,83,127,25,6,27,21,23,211
7,Kyle Anderson,PF,27,MEM,24,24,675,120,257,0,...,1,22,128,150,92,27,18,34,43,330
8,Giannis Antetokounmpo,PF,26,MIL,28,28,944,287,516,1,...,1,48,272,320,165,36,36,104,89,784
9,Thanasis Antetokounmpo,SF,28,MIL,19,0,157,19,32,1,...,1,16,18,34,15,5,3,15,27,45

In [62]:
# Verifying the data types
ind_plr_stats.dtypes

player                   object
pos                      object
age                       int64
team                     object
game                      int64
gamestarted               int64
minutesplayed             int64
fieldgoalmade             int64
fieldgoalattempt          int64
fieldgoalpercentage       int64
threepointmade            int64
threepa                   int64
threepointattempt         int64
twopointmade              int64
twopointattempt           int64
twopointpercentage        int64
efficencyfgpercentage     int64
freethrowsmade            int64
freethrowattempt          int64
freethrowpercentage       int64
offensiverebound          int64
deffensiverebound         int64
totalrebound              int64
assist                    int64
steal                     int64
block                     int64
turnover                  int64
personalfoul              int64
points                    int64
dtype: object

### 5) NBA Season Stats Datafile

In [67]:
# Read in dataframe
season_stats = pd.read_csv("./Resources/nba_season_stats.csv", encoding='ISO-8859-1')
season_stats.head()

,ï»¿Franchise,Conference,Win,Lost,WinPercentage,GamesBehind,ConferenceRecord,DivisionRecord,HomeRecord,RoadRecord,OverTimeRecord,Last10Record,Streak
0,Philadelphia 76ers,Eastern,19,10,0.655,0.0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,0.613,1.0,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,0.552,3.0,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,0.517,4.0,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,0.500,4.5,10-9,2-4,7-5,7-9,0-0,4-6,L 1

In [68]:
# Inspecting columns.
season_stats.columns

Index(['ï»¿Franchise', 'Conference', 'Win', 'Lost', 'WinPercentage',
       'GamesBehind', 'ConferenceRecord', 'DivisionRecord', 'HomeRecord',
       'RoadRecord', 'OverTimeRecord', 'Last10Record', 'Streak'],
      dtype='object')

#### Cleaning the Dataset

In [69]:
# Change the column name
season_stats.rename(columns={season_stats.columns[0]:"Franchise"}, inplace=True)

In [70]:
season_stats.head(10)

,Franchise,Conference,Win,Lost,WinPercentage,GamesBehind,ConferenceRecord,DivisionRecord,HomeRecord,RoadRecord,OverTimeRecord,Last10Record,Streak
0,Philadelphia 76ers,Eastern,19,10,0.655,0.0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,0.613,1.0,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,0.552,3.0,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,0.517,4.0,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,0.500,4.5,10-9,2-4,7-5,7-9,0-0,4-6,L 1
5,Toronto Raptors,Eastern,14,15,0.483,5.0,11-7,2-3,6-6,8-9,0-0,7-3,W 2
6,New York Knicks,Eastern,14,16,0.467,5.5,10-10,1-3,7-6,7-10,0-0,5-5,L 1
7,Charlotte Hornets,Eastern,13,15,0.464,5.5,9-9,5-1,8-8,5-7,1-1,6-4,L 1
8,Chicago Bulls,Eastern,12,15,0.444,6.0,7-7,2-2,5-9,7-6,1-1,5-5,W 2
9,Atlanta Hawks,Eastern,12,16,0.429,6.5,8-9,1-2,6-9,6-7,1-1,3-7,W 1

In [71]:
# Changing column names to lowercase
season_stats.columns = [i.lower() for i in season_stats.columns]

In [75]:
# Exporting dataframe to SQL 
season_stats.to_sql("nba_season_stats", con = conn, index=False, if_exists="append")

In [76]:
# Importing dataframe from SQL to verify the data can be taken in.
season_stats = pd.read_sql("nba_season_stats", con = conn)

In [77]:
# Reading the dataframe
season_stats.head(10)

,franchise,conference,win,lost,winpercentage,gamesbehind,conferencerecord,divisionrecord,homerecord,roadrecord,overtimerecord,last10record,streak
0,Philadelphia 76ers,Eastern,19,10,1,0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,1,1,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,1,3,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,1,4,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,1,5,10-9,2-4,7-5,7-9,0-0,4-6,L 1
5,Toronto Raptors,Eastern,14,15,0,5,11-7,2-3,6-6,8-9,0-0,7-3,W 2
6,New York Knicks,Eastern,14,16,0,6,10-10,1-3,7-6,7-10,0-0,5-5,L 1
7,Charlotte Hornets,Eastern,13,15,0,6,9-9,5-1,8-8,5-7,1-1,6-4,L 1
8,Chicago Bulls,Eastern,12,15,0,6,7-7,2-2,5-9,7-6,1-1,5-5,W 2
9,Atlanta Hawks,Eastern,12,16,0,7,8-9,1-2,6-9,6-7,1-1,3-7,W 1