### 1) Importing dependencies

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine
import psycopg2
from config import db_password
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

### 2) Establishing connection to the database

In [2]:
# Establishing connection to the database (test)

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/nba_data"
    
conn = create_engine(db_string)

### 3) Reading team abbreviations dataframe

In [19]:
# Read in dataframe
df3 = pd.read_csv("Team_abbreviations2.csv", encoding='ISO-8859-1')
df3.head(10)

  Team              Franchise
0  ATL          Atlanta Hawks
1  BRK          Brooklyn Nets
2  BOS         Boston Celtics
3  CHA      Charlotte Hornets
4  CHI          Chicago Bulls
5  CLE    Cleveland Cavaliers
6  DAL       Dallas Mavericks
7  DEN         Denver Nuggets
8  DET        Detroit Pistons
9  GSW  Golden State Warriors

In [20]:
# Looking at the columns
df3.columns

Index(['Team', 'Franchise'], dtype='object')

In [21]:
# Changing column names to lowercase
df3.columns = [i.lower() for i in df3.columns]

In [22]:
df3.head(10)

  team              franchise
0  ATL          Atlanta Hawks
1  BRK          Brooklyn Nets
2  BOS         Boston Celtics
3  CHA      Charlotte Hornets
4  CHI          Chicago Bulls
5  CLE    Cleveland Cavaliers
6  DAL       Dallas Mavericks
7  DEN         Denver Nuggets
8  DET        Detroit Pistons
9  GSW  Golden State Warriors

In [23]:
# Exporting dataframe to SQL (test)
df3.to_sql("team_abbreviations", con = conn, index=False, if_exists="append")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "team_abbreviations_pkey"
DETAIL:  Key (team)=(ATL) already exists.

[SQL: INSERT INTO team_abbreviations (team, franchise) VALUES (%(team)s, %(franchise)s)]
[parameters: ({'team': 'ATL', 'franchise': 'Atlanta Hawks'}, {'team': 'BRK', 'franchise': 'Brooklyn Nets'}, {'team': 'BOS', 'franchise': 'Boston Celtics'}, {'team': 'CHA', 'franchise': 'Charlotte Hornets'}, {'team': 'CHI', 'franchise': 'Chicago Bulls'}, {'team': 'CLE', 'franchise': 'Cleveland Cavaliers'}, {'team': 'DAL', 'franchise': 'Dallas Mavericks'}, {'team': 'DEN', 'franchise': 'Denver Nuggets'}  ... displaying 10 of 31 total bound parameter sets ...  {'team': 'WAS', 'franchise': 'Washington Wizards'}, {'team': 'TOT', 'franchise': 'Two Other Teams'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [29]:
# Importing dataframe from SQL (test) FIRST ONE TO UPLOAD
from_sql_df3 = pd.read_sql("team_abbreviations", con = conn)

In [30]:
# Reading the dataframe
df3.head(10)

  team              franchise
0  ATL          Atlanta Hawks
1  BRK          Brooklyn Nets
2  BOS         Boston Celtics
3  CHA      Charlotte Hornets
4  CHI          Chicago Bulls
5  CLE    Cleveland Cavaliers
6  DAL       Dallas Mavericks
7  DEN         Denver Nuggets
8  DET        Detroit Pistons
9  GSW  Golden State Warriors

### 4) Reading individual player stats dataframe

In [15]:
# Read in dataframe
df = pd.read_csv("individual_player_stats.csv", encoding='ISO-8859-1')
# df.to_csv("individual_player_stats_2.csv", index=False)
# df2 = pd.read_csv("individual_player_stats_2.csv")

# df.dropna(inplace=True)
# df.isna().sum()

#ETL -- extract transform load
#df.columns = [i.replace("%", "") for i in df.columns]
# df.drop("Unnamed: 0", inplace =True, axis =1)

In [4]:
df.columns

Index(['player', 'pos', 'age', 'team', 'game', 'gamestarted', 'minutesplayed',
       'fieldgoalmade', 'fieldgoalattempt', 'fieldgoalpercentage',
       'threepointmade', 'threepa', 'threepointattempt', 'twopointmade',
       'twopointattempt', 'twopointpercentage', 'efficencyfgpercentage',
       'freethrowsmade', 'freethrowattempt', 'freethrowpercentage',
       'offensiverebound', 'deffensiverebound', 'totalrebound', 'assist',
       'steal', 'block', 'turnover', 'personalfoul', 'points'],
      dtype='object')

In [5]:
# df.columns = [i.lower() for i in df.columns]
# df.head(10)

### Exporting data to database

In [6]:
len(set(df.team.tolist()))

31

In [7]:
# df.to_csv("individual_player_stats3.csv", index=False)

In [16]:
# Exporting dataframe to SQL (test)
df.to_sql("individual_player_stats", con = conn, index=False, if_exists="append")

### Importing data from database

In [31]:
# Importing dataframe from SQL (test)

from_sql_df = pd.read_sql("individual_player_stats", con = conn)

In [32]:
# Reading the dataframe
from_sql_df.head(10)

,player,pos,age,team,game,gamestarted,minutesplayed,fieldgoalmade,fieldgoalattempt,fieldgoalpercentage,...,freethrowpercentage,offensiverebound,deffensiverebound,totalrebound,assist,steal,block,turnover,personalfoul,points
0,Steven Adams,C,27,NOP,27,27,760,94,156,1,...,0,116,123,239,58,26,15,46,51,217
1,Bam Adebayo,C,23,MIA,27,27,908,198,347,1,...,1,53,199,252,149,25,27,82,69,534
2,LaMarcus Aldridge,C,35,SAS,18,18,480,107,225,0,...,1,15,63,78,35,7,16,16,27,254
3,Nickeil Alexander-Walker,SG,22,NOP,23,3,441,77,188,0,...,1,5,56,61,46,25,8,30,40,203
4,Grayson Allen,SG,25,MEM,19,8,454,60,140,0,...,1,7,48,55,39,19,3,20,24,197
5,Jarrett Allen,C,22,TOT,28,10,734,122,190,1,...,1,82,170,252,45,13,46,43,44,345
6,Jarrett Allen,C,22,CLE,16,5,414,78,125,1,...,1,44,83,127,25,6,27,21,23,211
7,Kyle Anderson,PF,27,MEM,24,24,675,120,257,0,...,1,22,128,150,92,27,18,34,43,330
8,Giannis Antetokounmpo,PF,26,MIL,28,28,944,287,516,1,...,1,48,272,320,165,36,36,104,89,784
9,Thanasis Antetokounmpo,SF,28,MIL,19,0,157,19,32,1,...,1,16,18,34,15,5,3,15,27,45

In [50]:
df.dtypes

player                    object
pos                       object
age                        int64
team                      object
game                       int64
gamestarted                int64
minutesplayed              int64
fieldgoalmade              int64
fieldgoalattempt           int64
fieldgoalpercentage      float64
threepointmade             int64
threepa                    int64
threepointattempt        float64
twopointmade               int64
twopointattempt            int64
twopointpercentage       float64
efficencyfgpercentage    float64
freethrowsmade             int64
freethrowattempt           int64
freethrowpercentage      float64
offensiverebound           int64
deffensiverebound          int64
totalrebound               int64
assist                     int64
steal                      int64
block                      int64
turnover                   int64
personalfoul               int64
points                     int64
dtype: object

In [51]:
# Dropping noisy data
df = df.drop(["player", "pos", "age", "gamestarted", "minutesplayed", "game"], axis=1)
df.head(10)

,team,fieldgoalmade,fieldgoalattempt,fieldgoalpercentage,threepointmade,threepa,threepointattempt,twopointmade,twopointattempt,twopointpercentage,...,freethrowpercentage,offensiverebound,deffensiverebound,totalrebound,assist,steal,block,turnover,personalfoul,points
0,NOP,94,156,0.603,0,1,0.000,94,155,0.606,...,0.468,116,123,239,58,26,15,46,51,217
1,MIA,198,347,0.571,2,5,0.400,196,342,0.573,...,0.845,53,199,252,149,25,27,82,69,534
2,SAS,107,225,0.476,24,67,0.358,83,158,0.525,...,0.762,15,63,78,35,7,16,16,27,254
3,NOP,77,188,0.410,24,87,0.276,53,101,0.525,...,0.781,5,56,61,46,25,8,30,40,203
4,MEM,60,140,0.429,44,101,0.436,16,39,0.410,...,0.892,7,48,55,39,19,3,20,24,197
5,TOT,122,190,0.642,1,4,0.250,121,186,0.651,...,0.758,82,170,252,45,13,46,43,44,345
6,CLE,78,125,0.624,1,4,0.250,77,121,0.636,...,0.761,44,83,127,25,6,27,21,23,211
7,MEM,120,257,0.467,40,103,0.388,80,154,0.519,...,0.781,22,128,150,92,27,18,34,43,330
8,MIL,287,516,0.556,31,111,0.279,256,405,0.632,...,0.637,48,272,320,165,36,36,104,89,784
9,MIL,19,32,0.594,2,7,0.286,17,25,0.680,...,0.556,16,18,34,15,5,3,15,27,45

In [52]:
# New df 
new_df = df[["team", "points", "totalrebound", "assist", "block", "steal", "turnover", "offensiverebound", "deffensiverebound"]]

In [53]:
new_df.head(10)

,team,points,totalrebound,assist,block,steal,turnover,offensiverebound,deffensiverebound
0,NOP,217,239,58,15,26,46,116,123
1,MIA,534,252,149,27,25,82,53,199
2,SAS,254,78,35,16,7,16,15,63
3,NOP,203,61,46,8,25,30,5,56
4,MEM,197,55,39,3,19,20,7,48
5,TOT,345,252,45,46,13,43,82,170
6,CLE,211,127,25,27,6,21,44,83
7,MEM,330,150,92,18,27,34,22,128
8,MIL,784,320,165,36,36,104,48,272
9,MIL,45,34,15,3,5,15,16,18

In [54]:
df2 = new_df.groupby("team")
df2.head(10)

,team,points,totalrebound,assist,block,steal,turnover,offensiverebound,deffensiverebound
0,NOP,217,239,58,15,26,46,116,123
1,MIA,534,252,149,27,25,82,53,199
2,SAS,254,78,35,16,7,16,15,63
3,NOP,203,61,46,8,25,30,5,56
4,MEM,197,55,39,3,19,20,7,48
...,...,...,...,...,...,...,...,...,...
381,BOS,594,161,108,9,29,56,13,148
382,BOS,127,37,46,3,21,25,7,30
383,CHI,230,80,51,13,28,27,13,67
385,BOS,243,133,36,26,15,27,34,99
399,CHI,195,90,41,1,17,13,8,82

### 5) Reading nba_season_stats dataframe

In [33]:
# Read in dataframe
season_stats = pd.read_csv("nba_season_stats.csv", encoding='ISO-8859-1')
season_stats.head()

,ï»¿Franchise,Conference,Win,Lost,WinPercentage,GamesBehind,ConferenceRecord,DivisionRecord,HomeRecord,RoadRecord,OverTimeRecord,Last10Record,Streak
0,Philadelphia 76ers,Eastern,19,10,0.655,0.0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,0.613,1.0,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,0.552,3.0,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,0.517,4.0,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,0.500,4.5,10-9,2-4,7-5,7-9,0-0,4-6,L 1

In [34]:
season_stats.columns

Index(['ï»¿Franchise', 'Conference', 'Win', 'Lost', 'WinPercentage',
       'GamesBehind', 'ConferenceRecord', 'DivisionRecord', 'HomeRecord',
       'RoadRecord', 'OverTimeRecord', 'Last10Record', 'Streak'],
      dtype='object')

In [40]:
# Change name
season_stats.rename(columns={season_stats.columns[0]:"Franchise"}, inplace=True)

In [41]:
season_stats.head(10)

,Franchise,Conference,Win,Lost,WinPercentage,GamesBehind,ConferenceRecord,DivisionRecord,HomeRecord,RoadRecord,OverTimeRecord,Last10Record,Streak
0,Philadelphia 76ers,Eastern,19,10,0.655,0.0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,0.613,1.0,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,0.552,3.0,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,0.517,4.0,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,0.500,4.5,10-9,2-4,7-5,7-9,0-0,4-6,L 1
5,Toronto Raptors,Eastern,14,15,0.483,5.0,11-7,2-3,6-6,8-9,0-0,7-3,W 2
6,New York Knicks,Eastern,14,16,0.467,5.5,10-10,1-3,7-6,7-10,0-0,5-5,L 1
7,Charlotte Hornets,Eastern,13,15,0.464,5.5,9-9,5-1,8-8,5-7,1-1,6-4,L 1
8,Chicago Bulls,Eastern,12,15,0.444,6.0,7-7,2-2,5-9,7-6,1-1,5-5,W 2
9,Atlanta Hawks,Eastern,12,16,0.429,6.5,8-9,1-2,6-9,6-7,1-1,3-7,W 1

In [45]:
# Changing column names to lowercase
season_stats.columns = [i.lower() for i in season_stats.columns]

In [47]:
# Exporting dataframe to SQL (test)
season_stats.to_sql("nba_season_stats", con = conn, index=False, if_exists="append")

In [48]:
# Importing dataframe from SQL (test)
from_sql_df2 = pd.read_sql("nba_season_stats", con = conn)

In [49]:
# Reading the dataframe
from_sql_df2.head(10)

,franchise,conference,win,lost,winpercentage,gamesbehind,conferencerecord,divisionrecord,homerecord,roadrecord,overtimerecord,last10record,streak
0,Philadelphia 76ers,Eastern,19,10,1,0,15-4,5-1,12-2,7-8,1-1,6-4,W 1
1,Brooklyn Nets,Eastern,19,12,1,1,10-9,3-2,11-5,8-7,1-2,6-4,W 5
2,Milwaukee Bucks,Eastern,16,13,1,3,12-7,8-1,9-4,7-9,0-0,5-5,L 5
3,Indiana Pacers,Eastern,15,14,1,4,9-8,3-2,7-9,8-5,3-1,4-6,W 1
4,Boston Celtics,Eastern,14,14,1,5,10-9,2-4,7-5,7-9,0-0,4-6,L 1
5,Toronto Raptors,Eastern,14,15,0,5,11-7,2-3,6-6,8-9,0-0,7-3,W 2
6,New York Knicks,Eastern,14,16,0,6,10-10,1-3,7-6,7-10,0-0,5-5,L 1
7,Charlotte Hornets,Eastern,13,15,0,6,9-9,5-1,8-8,5-7,1-1,6-4,L 1
8,Chicago Bulls,Eastern,12,15,0,6,7-7,2-2,5-9,7-6,1-1,5-5,W 2
9,Atlanta Hawks,Eastern,12,16,0,7,8-9,1-2,6-9,6-7,1-1,3-7,W 1